@model Bookstore.Catalog.Api.Dto.Books.AuthorResponse

<hi>@Model.FirstName @Model.LastName</hi>
<p>@Model.About</p>
<p>Birth Year: @Model.BirthYear</p>
<p>Nationality: @Model.Nationality</p>

<ul>
    @foreach(var book in Model.Books)
    {
        <li><a asp-action="Book" asp-route-id="@book.BookID">@book.Title</a></li>
    }
</ul>